<%= form_with(model: @task, local: true) do |f| %>
<%= render 'shared/errors', instance: @task %>

<div class="field">
  <%= f.label :issue %>
  <%= collection_select(:task, :issue_id, Issue.all, :id, :title, prompt: "Please select the issue you would like to work on from this dropdown") %>
</div>

<div class="field">
  <%= f.label :status %>
  <%= f.select(:status, ['in-progress', 'finished']) %>
</div>

<%= f.submit class: "button is-link" %>
<% end %>
