<%= form_with(model: @task, local: true) do |f| %>
<%= render 'shared/errors', instance: @task %>

<% if !@task.issue %>
<%= f.hidden_field :issue_id, :value => params[:issue_id] %>
<% end %>

<div class="field">
  <%= f.label :status %>
  <%= f.select(:status, ['in-progress', 'finished']) %>
</div>

<%= f.submit class: "button is-link" %>
<% end %>
