<h1 class="is-size-1"><%= @task.issue.title %><h1>
<p class="is-size-4"><%= @task.issue.description %></p>
<p class="is-size-5"><%= @task.status %></p>
<p class="is-size-5"><%= @task.user.username %> is currently working on this task</p>
<%= link_to "Edit This Task", edit_task_path, class:"button is-link" %>
<%= link_to "Delete This Task", task_path(@task), method: :delete, class:"button is-danger" %>
