<h1 class="is-size-1"><%= link_to "#{@task.user.username}'s", @task.user %> task: <%= link_to @task.issue.title, project_issue_path(@task.issue.project, @task.issue) %> for <%= link_to @task.issue.project.title, project_path(@task.issue.project) %><h1>
<p class="is-size-4"><%= @task.issue.description %></p>
<p class="is-size-4">Status: <%= @task.status %></p>
<% if signed_in? && authorized?(@task) %>
<%= link_to "Edit This Task", edit_task_path, class:"button is-link" %>
<%= link_to "Delete This Task", task_path(@task), method: :delete, class:"button is-danger" %>
<% end %>
