<div class="container has-text-centered">
  <%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/errors', instance: @user %>
  
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Sign Up", class: "button is-link"%>
  <% end %>
</div>

