<h1 class="is-size-1">Projects</h1>
<div class="columns">
  <div class="column is-one-third">
    <%= form_tag(projects_path, method: :get, class: "field has-addons") do %>
    <%= text_field_tag(:search, params[:search], class: "input", placeholder: "Search Projects By Category") %>
    <%= submit_tag("Search", class: "button is-info") %>
    <% end %>
  </div>
</div>
<% @projects.each do |p| %>
<%= link_to "#{p.title}: #{p.description}", p, class: "is-size-3" %><br>
<% end %>
<%= link_to "Create New Project", new_project_path, class:"button is-success" %>



