<h1 class="is-size-1">Projects</h1>
<div class="columns">
  <div class="column is-half">
    <%= form_tag(projects_path, method: :get, class: "field has-addons") do %>
    <%= text_field_tag(:q, params[:q], class: "input", placeholder: "Search Projects By Category") %>
    <%= submit_tag("Search", class: "button is-info") %>
    <% end %>
  </div>
</div>
<table class="table is-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Description</th>
      <th>Category</th>
      <th>Creator</th>
      <th># of Issues</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |p| %>
    <tr>
      <th><%= link_to p.title, p %></th>
      <th><%= p.description %></th>
      <th><%= p.category %></th>
      <th><%= link_to p.user.username, p.user %></th>
      <th><%= p.issues.count %></th>
    </tr>
      <% end %>
  </tbody>
</table>
<%= link_to "Create New Project", new_project_path, class:"button is-success" %>



